@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Nunito', sans-serif;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.header-seccion {
  text-align: center;
  padding-bottom: 40px;
}

.header-seccion h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
}

.header-seccion p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  color: #012970;
}

.obligatorio::after {
  content: "*";
  color: red;
}

.boton-azul {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff !important;
  transition: 0.4s;
  border-radius: 4px;
}

.boton-azul:hover {
  background: #5969f3;
  color: #fff !important;
  box-shadow: 0 5px 15px rgba(65, 84, 241, 0.4);
  transform: scale(1.01);
}

.btn-link {
  font-family: "Nunito", sans-serif;
  color: #012970;
}

.btn-link:hover {
  color: #4154f1 !important;
}

.bloque-usuario-no-login>p {
  font-size: 16px;
  text-align: center;
  color: #6c757d;
}

.bloque-usuario-no-login .botones-usuario-anonimo {
  gap: 15px;
}

form label {
  font-family: "Nunito", sans-serif;
}

.rangeSlider>.rangeHandle>.rangeNub {
  background-color: #4154f1 !important;
}

.rangeSlider>.rangeHandle>.rangeFloat {
  background-color: #4154f1 !important;
}

.rangeSlider>.rangeBar {
  background-color: #4154f1 !important;
}

.rangeSlider>.rangePips>.pip>.pipVal {
  font-weight: normal !important;
  top: 0.4em !important;
}

.sv-dropdown {
  bottom: auto !important;
  z-index: 100 !important;
}

.svelecte-control .has-multiSelection .sv-item-content {
  white-space: break-spaces !important;
}

@media (min-width: 768px) {
  .header-seccion p {
    font-size: 38px;
    line-height: 42px;
  }
}